* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#To-Do-list {
    background-color: rgba(46, 79, 76, 0.292);
    height: auto;
    width: 50vw;
    border-radius: 50px;
    align-items: center;
    max-width: auto;
    min-height: 30vh;
}

#To-Do-List-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Heading {
    margin-top: 40px;
    margin-bottom: 10px;
}

#inputTask {
    display: block;
    justify-content: center;
    align-items: center;
}

#taskInput {
    border: hidden;
    border-radius: 15px;
    padding: 10px;
    height: 35px;
    width: 40vw;
    font-size: 14px;
    outline: none;
}

#addButton {
    border: hidden;
    border-radius: 10px;
    margin-top: 10px;
    height: 30px;
    width: 70px;
    align-self: flex-start;
    outline: none;
}

#element-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 20px 50px 10px 50px;
    border-radius: 10px;
    display: none;
}

#taskelement {
    flex: 1;
    background: transparent;
    width: 40vw;
    border-radius: 20px;
    border: hidden;
    outline: none;
    height: 26px;
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
}

#editbtn {
    height: 30px;
    padding: 10px;
    margin: 10px;
    border: hidden;
    background-color: rgba(43, 211, 226, 0.32);
    border-radius: 6px;
}

#deletebtn {
    height: 30px;
    padding: 10px;
    margin-right: 10px;
    border: hidden;
    background-color: rgba(43, 211, 226, 0.32);
    border-radius: 6px;
    
}